name: Canary-Ubuntu

on:
  workflow_call:
    inputs:
      repo-id:
        description: 'staging repository id to test'
        required: false
        type: string
        default: ''
      djl-version:
        description: 'djl version to test'
        type: string
        required: false
      pt-version:
        description: 'pytorch version to test'
        type: string
        required: false
        default: ''
  workflow_dispatch:
    inputs:
      repo-id:
        description: 'staging repository id to test'
        required: false
        default: ''
      djl-version:
        description: 'djl version to test'
        required: false
      pt-version:
        description: 'pytorch version to test'
        required: false
        default: ''

jobs:
  canary-test-ubuntu:
    if: github.repository == 'deepjavalibrary/djl-demo'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-20.04, ubuntu-22.04, ubuntu-24.04 ]
    env:
      AWS_REGION: us-east-1
      DJL_STAGING: ${{github.event.inputs.repo-id}}
      DJL_VERSION: ${{github.event.inputs.djl-version}}
      PT_VERSION: ${{github.event.inputs.pt-version}}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 17
      - name: Install libgomp
        run: |
          sudo apt-get update
          sudo apt-get install -y libgomp1
      - name: Test BOM dependencies
        working-directory: bom
        run: |
          set -x
          if [[ $(./gradlew dep --configuration runtimeClassPath | grep FAILED | wc -l) -gt 0 ]]; then false; fi
      - name: Test MXNet
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=mxnet-native-auto ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=mxnet-native-mkl ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test PyTorch
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=pytorch-native-auto PYTORCH_VERSION=$PT_VERSION ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-auto PYTORCH_VERSION=1.13.1 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-auto PYTORCH_VERSION=2.1.2 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-auto PYTORCH_VERSION=2.3.1 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-auto PYTORCH_VERSION=2.5.1 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-cpu ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-cpu PT_VERSION=1.13.1 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-cpu PT_VERSION=2.1.2 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-cpu PT_VERSION=2.3.1 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-cpu PT_VERSION=2.5.1 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test TensorFlow
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=tensorflow-native-auto ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=tensorflow-native-cpu ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test fastText
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=fasttext ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test OnnxRuntime
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=onnxruntime ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test Xgboost
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=xgboost ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test LightGBM
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=lightgbm ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test Huggingface tokenizers
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=tokenizers ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test SentencePiece tokenizers
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=sentencepiece ./gradlew clean run
          rm -rf $HOME/.djl.ai/
