name: Canary-CentOS

on:
  schedule:
    - cron:  '0 9 * * *'
  workflow_dispatch:
    inputs:
      repo-id:
        description: 'staging repository id to test'
        required: false
        default: ''
      djl-version:
        description: 'djl version to test'
        required: false
      pt-version:
        description: 'pytorch version to test'
        required: false
        default: ''

jobs:
  canary-test-centos:
    if: github.repository == 'deepjavalibrary/djl-demo'
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-1
      DJL_STAGING: ${{github.event.inputs.repo-id}}
      DJL_VERSION: ${{github.event.inputs.djl-version}}
      PT_VERSION: ${{github.event.inputs.pt-version}}
    container: centos:7
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Install libgomp
        run: |
          yum -y install libgomp
      - name: Test PyTorch
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=pytorch-native-auto PYTORCH_VERSION=$PT_VERSION PYTORCH_PRECXX11=true ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-auto PYTORCH_PRECXX11=true PYTORCH_VERSION=1.10.0 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-auto PYTORCH_PRECXX11=true PYTORCH_VERSION=1.11.0 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-auto PYTORCH_PRECXX11=true PYTORCH_VERSION=1.12.1 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-cpu-precxx11 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-cpu-precxx11 PT_VERSION=1.10.0 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-cpu-precxx11 PT_VERSION=1.11.0 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=pytorch-native-cpu-precxx11 PT_VERSION=1.12.1 ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test TensorFlow
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=tensorflow-native-auto ./gradlew clean run
          rm -rf $HOME/.djl.ai/
          DJL_ENGINE=tensorflow-native-cpu ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test OnnxRuntime
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=onnxruntime PYTORCH_PRECXX11=true ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test Xgboost
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=xgboost PYTORCH_PRECXX11=true ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test LightGBM
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=lightgbm PYTORCH_PRECXX11=true ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      - name: Test Huggingface tokenizers
        working-directory: canary
        run: |
          set -x
          DJL_ENGINE=tokenizers PYTORCH_PRECXX11=true ./gradlew clean run
          rm -rf $HOME/.djl.ai/
      # MXNet doesn't support centos 7
      # DLR doesn't support centos 7
      # PaddlePaddle doesn't support centos 7
      # TFLite doesn't support centos 7
