name: Canary-Mac

on:
  schedule:
    - cron:  '0 12 * * *'
  push:
    paths:
      - "canary/**"
  pull_request:
    paths:
      - "canary/**"
  workflow_dispatch:
    inputs:
      repo-id:
        description: 'staging repository id to test'
        required: false
        default: ''
      djl-version:
        description: 'djl version to test'
        required: false
        default: '0.10.0-SNAPSHOT'

jobs:
  canary-test-mac:
    if: github.repository == 'aws-samples/djl-demo'
    runs-on: macos-latest
    env:
      AWS_REGION: us-east-1
      DJL_STAGING: ${{github.event.inputs.repo-id}}
      DJL_VERSION: ${{github.event.inputs.djl-version}}
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Test MXNet
        run: |
          cd canary
          ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=mxnet-native-mkl ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test PyTorch
        run: |
          cd canary
          DJL_ENGINE=pytorch-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=pytorch-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test TensorFlow
        run: |
          cd canary
          DJL_ENGINE=tensorflow-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=tensorflow-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test DLR
        working-directory: canary
        run: |
          DJL_ENGINE=dlr-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=dlr-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test OnnxRuntime
        working-directory: canary
        run: |
          DJL_ENGINE=onnxruntime ./gradlew clean run
      - name: Test TFLite
        working-directory: canary
        run: |
          DJL_ENGINE=tflite-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=tflite-native-cpu ./gradlew clean run
      - name: Test PaddlePaddle
        working-directory: canary
        run: |
          DJL_ENGINE=paddlepaddle-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=paddlepaddle-native-cpu ./gradlew clean run

