name: Canary-Ubuntu

on:
  schedule:
    - cron:  '0 10 * * *'
  workflow_dispatch:
    inputs:
      repo-id:
        description: 'staging repository id to test'
        required: false
        default: ''
      djl-version:
        description: 'djl version to test'
        required: false
        default: '0.19.0-SNAPSHOT'
      pt-version:
        description: 'pytorch version to test'
        required: false
        default: ''

jobs:
  canary-test-ubuntu:
    if: github.repository == 'deepjavalibrary/djl-demo'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-latest]
    env:
      AWS_REGION: us-east-1
      DJL_STAGING: ${{github.event.inputs.repo-id}}
      DJL_VERSION: ${{github.event.inputs.djl-version}}
      PT_VERSION: ${{github.event.inputs.pt-version}}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Install libgomp
        run: |
          sudo apt-get update
          sudo apt-get install -y libgomp1
      - name: Test MXNet
        working-directory: canary
        run: |
          DJL_ENGINE=mxnet-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=mxnet-native-mkl ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test PyTorch
        working-directory: canary
        run: |
          DJL_ENGINE=pytorch-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=pytorch-native-auto PYTORCH_VERSION=1.10.0 ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=pytorch-native-auto PYTORCH_VERSION=1.11.0 ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=pytorch-native-auto PYTORCH_VERSION=1.12.1 ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=pytorch-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=pytorch-native-cpu PT_VERSION=1.10.0 ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=pytorch-native-cpu PT_VERSION=1.11.0 ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=pytorch-native-cpu PT_VERSION=1.12.1 ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test TensorFlow
        working-directory: canary
        run: |
          DJL_ENGINE=tensorflow-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=tensorflow-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test DLR
        working-directory: canary
        run: |
          DJL_ENGINE=dlr-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=dlr-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test OnnxRuntime
        working-directory: canary
        run: |
          DJL_ENGINE=onnxruntime ./gradlew clean run
      - name: Test TFLite
        working-directory: canary
        run: |
          DJL_ENGINE=tflite-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=tflite-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test PaddlePaddle
        working-directory: canary
        run: |
          DJL_ENGINE=paddlepaddle-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=paddlepaddle-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test Xgboost
        working-directory: canary
        run: |
          DJL_ENGINE=xgboost ./gradlew clean run
