name: Canary-Ubuntu

on:
  schedule:
    - cron:  '0 10 * * *'
  push:
    paths:
      - "canary/**"
  pull_request:
    paths:
      - "canary/**"
  workflow_dispatch:
    inputs:
      repo-id:
        description: 'staging repository id to test'
        required: true
        default: ''

jobs:
  canary-test-ubuntu:
    if: github.repository == 'aws-samples/djl-demo'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04]
    env:
      AWS_REGION: us-east-1
      DJL_STAGING: ${{github.event.inputs.repo-id}}
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install libgomp
        run: |
          sudo apt-get update
          sudo apt-get install -y libgomp1
      - name: Test MXNet
        working-directory: canary
        run: |
          ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=mxnet-native-mkl ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test PyTorch
        working-directory: canary
        run: |
          DJL_ENGINE=pytorch-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=pytorch-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test TensorFlow
        working-directory: canary
        run: |
          DJL_ENGINE=tensorflow-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=tensorflow-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test DLR
        working-directory: canary
        run: |
          DJL_ENGINE=dlr-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=dlr-native-cpu ./gradlew clean run
          rm -rf ~/.djl.ai
      - name: Test OnnxRuntime
        working-directory: canary
        run: |
          DJL_ENGINE=onnxruntime ./gradlew clean run
      - name: Test TFLite
        working-directory: canary
        run: |
          DJL_ENGINE=tflite-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=tflite-native-cpu ./gradlew clean run
      - name: Test PaddlePaddle
        working-directory: canary
        run: |
          DJL_ENGINE=paddlepaddle-native-auto ./gradlew clean run
          rm -rf ~/.djl.ai
          DJL_ENGINE=paddlepaddle-native-cpu ./gradlew clean run
